---
const { data } = Astro.props
---

<section class="w-80 rounded-3xl relative border border-[#FFCFAC]">
  <div class="bg-white px-4 py-2 w-fit rounded-lg absolute top-4 left-4">
    <p class="text-[#FF7D1F] text-xs font-medium">{data.role}</p>
  </div>
  <img
    src={data.image}
    alt=""
    class="rounded-t-3xl w-full object-cover h-[330px] bg-[#D2DCFF]"
  />
  <div class="flex items-center justify-between py-4 px-6 rounded-b-3xl">
    <h1 class="text-xl">{data.name}</h1>
    <div class="flex items-center gap-2">
      <a href={data.twitter} target="_blank">
        <svg
          width="24"
          height="24"
          bg-[#D2DCFF]
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.8 3L13.582 10.105L19.958 19.106C20.392 19.719 20.608 20.025 20.598 20.28C20.5936 20.3896 20.5653 20.4969 20.5151 20.5943C20.4648 20.6917 20.3937 20.777 20.307 20.844C20.104 21 19.729 21 18.979 21H17.29C16.835 21 16.608 21 16.4 20.939C16.2165 20.8847 16.045 20.7957 15.895 20.677C15.725 20.544 15.594 20.358 15.331 19.987L10.681 13.421L4.63996 4.894C4.20696 4.281 3.98996 3.975 3.99996 3.72C4.00441 3.61035 4.03286 3.50302 4.08332 3.40557C4.13377 3.30812 4.205 3.22292 4.29196 3.156C4.49396 3 4.86996 3 5.61996 3H7.30796C7.76296 3 7.98996 3 8.19696 3.061C8.38082 3.1152 8.55259 3.20414 8.70296 3.323C8.87296 3.457 9.00396 3.642 9.26696 4.013L13.583 10.105M4.04996 21L10.682 13.421"
            stroke="#FF7D1F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a href={data.linkedin} target="_blank">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 11V16M11 10V12M11 16V12.23C11 11.8832 11.1201 11.5471 11.34 11.2789C11.5599 11.0107 11.8659 10.827 12.206 10.759L13.608 10.479C13.898 10.421 14.1972 10.4281 14.4841 10.4997C14.771 10.5712 15.0384 10.7055 15.2672 10.8929C15.496 11.0803 15.6804 11.316 15.8071 11.5832C15.9338 11.8504 15.9997 12.1423 16 12.438V16M8 8H8.01M3 12C3 9.486 3 8.23 3.354 7.22C3.66648 6.32668 4.17621 5.51524 4.84533 4.84595C5.51445 4.17665 6.32576 3.66671 7.219 3.354C8.23 3 9.486 3 12 3C14.514 3 15.77 3 16.78 3.354C17.6733 3.66648 18.4848 4.17621 19.1541 4.84533C19.8233 5.51445 20.3333 6.32576 20.646 7.219C21 8.23 21 9.486 21 12C21 14.514 21 15.77 20.646 16.78C20.3335 17.6733 19.8238 18.4848 19.1547 19.1541C18.4856 19.8233 17.6742 20.3333 16.781 20.646C15.77 21 14.514 21 12 21C9.486 21 8.23 21 7.22 20.646C6.32668 20.3335 5.51524 19.8238 4.84595 19.1547C4.17665 18.4856 3.66671 17.6742 3.354 16.781C3 15.77 3 14.514 3 12Z"
            stroke="#FF7D1F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
