---
const { data } = Astro.props
---

<section class="max-w-7xl mx-auto flex justify-between flex-wrap px-4">
  <div class="md:w-1/2 lg:max-w-xl">
    <h3 class="text-3xl lg:text-6xl font-bold">{data.name}</h3>
    <p class="text-gray-500 text-md lg:text-lg mt-4">
      {data.bio}
    </p>
    <div class="flex items-center gap-4 mt-8">
      <a
        class="bg-[#FFEDE1] p-3 rounded-lg"
        href={data.linkedin}
        target="_blank"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.55556 10.8889V16.4444M10.8889 9.77778V12M10.8889 16.4444V12.2552C10.8889 11.4608 11.4497 10.7767 12.2287 10.6209L13.7864 10.3094C15.1615 10.0344 16.4444 11.0861 16.4444 12.4885V16.4444M7.55556 7.55556H7.56667M2 12C2 9.2071 2 7.81065 2.39282 6.68805C3.0964 4.67732 4.67732 3.0964 6.68805 2.39282C7.81065 2 9.2071 2 12 2C14.7929 2 16.1893 2 17.312 2.39282C19.3227 3.0964 20.9036 4.67732 21.6072 6.68805C22 7.81065 22 9.2071 22 12C22 14.7929 22 16.1893 21.6072 17.312C20.9036 19.3227 19.3227 20.9036 17.312 21.6072C16.1893 22 14.7929 22 12 22C9.2071 22 7.81065 22 6.68805 21.6072C4.67732 20.9036 3.0964 19.3227 2.39282 17.312C2 16.1893 2 14.7929 2 12Z"
            stroke="#FF7D1F"
            stroke-width="2.22222"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a
        class="bg-[#FFEDE1] p-3 rounded-lg"
        href={data.telegram}
        target="_blank"
      >
        <svg
          width="24"
          height="19"
          viewBox="0 0 24 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.2463 8.15821L19.6791 2.1625C20.5379 1.82885 20.9673 1.66203 21.2836 1.74193C21.5594 1.81159 21.7912 1.9928 21.9202 2.2396C22.0682 2.52266 21.9922 2.96574 21.8401 3.8519L20.1087 13.9417C19.8454 15.4761 19.7138 16.2433 19.2986 16.6711C18.9357 17.0451 18.4343 17.2632 17.9053 17.2773C17.3003 17.2934 16.6232 16.878 15.2691 16.0474L12.396 14.285C11.533 13.7555 11.1014 13.4908 10.9153 13.1346C10.7522 12.8224 10.7109 12.4633 10.7993 12.1237C10.9 11.7365 11.2609 11.386 11.9827 10.6849L16.8341 5.97301L8.66313 10.7347C8.00849 11.1162 7.68114 11.3069 7.3287 11.4109C7.01629 11.503 6.69044 11.5447 6.36412 11.5344C5.99598 11.5227 5.62894 11.4208 4.89485 11.2171L4.40015 11.0798C3.03193 10.7001 2.34782 10.5103 2.14549 10.1881C1.97041 9.90927 1.9522 9.56343 2.09707 9.26873C2.2645 8.92814 2.9251 8.6715 4.2463 8.15821Z"
            stroke="#FF7D1F"
            stroke-width="2.22222"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a
        class="bg-[#FFEDE1] p-3 rounded-lg"
        href={data.twitter}
        target="_blank"
      >
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.6665 1L10.1402 7.31579M1.66648 17L7.56121 10.2632M10.1402 7.31579L6.30414 1.90023C6.07065 1.5706 5.95391 1.40579 5.80303 1.28671C5.66942 1.18126 5.51686 1.10237 5.35359 1.05429C5.1692 1 4.96723 1 4.56329 1H3.06251C2.39557 1 2.06209 1 1.8823 1.13843C1.72575 1.25895 1.63073 1.44271 1.62286 1.64012C1.61383 1.86685 1.80658 2.13897 2.19209 2.68322L7.56121 10.2632M10.1402 7.31579L15.8075 15.3168C16.193 15.861 16.3858 16.1332 16.3768 16.3599C16.3689 16.5573 16.2739 16.741 16.1173 16.8616C15.9375 17 15.6041 17 14.9371 17H13.4363C13.0324 17 12.8304 17 12.646 16.9457C12.4828 16.8976 12.3302 16.8187 12.1966 16.7133C12.0457 16.5942 11.929 16.4294 11.6955 16.0998L7.56121 10.2632"
            stroke="#FF7D1F"
            stroke-width="1.77778"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
    <div class="h-0.5 bg-gradient-to-r from-[#FF7D1F] my-8"></div>
    <div class="flex items-center gap-3">
      <div class="bg-[#EFEFF6] rounded-full p-4">
        <svg
          width="31"
          height="26"
          viewBox="0 0 31 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M29.2245 7.06627L21.513 11.9736C19.3338 13.3603 18.2443 14.0537 17.0733 14.3238C16.038 14.5626 14.962 14.5626 13.9267 14.3238C12.7557 14.0537 11.6661 13.3603 9.48699 11.9736L1.77549 7.06627M29.2245 7.06627C29.5 8.41069 29.5 10.2084 29.5 13C29.5 16.9204 29.5 18.8806 28.737 20.378C28.0659 21.6951 26.9951 22.766 25.6779 23.4371C24.1806 24.2001 22.2204 24.2001 18.3 24.2001H12.7C8.77963 24.2001 6.81945 24.2001 5.32207 23.4371C4.00493 22.766 2.93407 21.6951 2.26295 20.378C1.5 18.8806 1.5 16.9204 1.5 13C1.5 10.2084 1.5 8.41069 1.77549 7.06627M29.2245 7.06627C29.1131 6.5227 28.9567 6.05323 28.737 5.62212C28.0659 4.30498 26.9951 3.23412 25.6779 2.563C24.1806 1.80005 22.2204 1.80005 18.3 1.80005H12.7C8.77963 1.80005 6.81945 1.80005 5.32207 2.563C4.00493 3.23412 2.93407 4.30498 2.26295 5.62212C2.04329 6.05323 1.88687 6.5227 1.77549 7.06627"
            stroke="#303A47"
            stroke-width="2.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
      <div>
        <h4 class="text-md md:text-xl font-semibold text-black">Email</h4>
        <p class="text-md md:text-xl">{data.email}</p>
      </div>
    </div>
  </div>
  <div
    class="bg-[#FFDCC3] rounded-3xl relative border border-[#FFCFAC] h-[400px] mt-8 md:mt-0"
  >
    <div class="bg-white px-4 py-2 w-fit rounded-lg absolute top-6 left-6">
      <p class="text-[#FF7D1F] text-sm font-medium">{data.role}</p>
    </div>
    <img
      src={data.image}
      alt={data.name}
      class="rounded-3xl w-full object-cover h-full"
    />
  </div>
</section>
