---
import mesh from "@/public/assets/mesh.svg"
import hero from "@/public/assets/hero.png"
import brand from "@/public/assets/brand.png"
---

<style>
  .marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }

  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>

<section class="w-full bg-white pb-20">
  <div class="relative isolate">
    <img
      src={mesh.src}
      alt="hero_background"
      class="w-full hidden lg:flex h-full absolute inset-0 -z-10"
    />
    <div class="mx-auto max-w-7xl sm:py-16 lg:flex lg:items-center lg:gap-x-10">
      <div class="mx-auto container lg:mx-0 lg:flex-auto">
        <h1
          class="mt-10 max-w-lg text-4xl font-extrabold tracking-tight sm:text-6xl"
        >
          Web 3.0 Pull Payments Layer
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 md:max-w-2xl w-full">
          Fetcch is the first middleware layer that enables wallets and
          applications to send chain-agnostic transaction requests directly to
          the user's end-point.
        </p>
        <div class="mt-10 flex items-center">
          <button
            class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary flex items-center space-x-2"
          >
            <span> Schedule Demo</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
            </svg>
          </button>
        </div>
      </div>
      <div
        class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow overflow-hidden"
      >
        <img
          src={hero.src}
          alt="hero image"
          class="mx-auto w-[52.875rem] max-w-full -mr-20"
        />
      </div>
    </div>
  </div>

  {/* Logo brands */}
  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-8 lg:mt-0">
    <div class="marquee">
      <ul class="marquee__content">
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
      </ul>
      <!-- Mirrors the content above -->
      <ul class="marquee__content" aria-hidden="true">
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
        <img
          src={brand.src}
          alt="brand image"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          width={158}
          height={48}
        />
      </ul>
    </div>
  </div>
</section>
