---
import mesh from "@/public/assets/mesh.svg"
import hero from "@/public/assets/hero.png"
import brand from "@/public/assets/brand.png"
---

<section class="w-full bg-white pb-20">
  <div class="relative isolate">
    <img
      src={mesh.src}
      alt="hero_background"
      class="w-full hidden lg:flex h-full absolute inset-0 -z-10"
    />
    <div
      class="mx-auto max-w-7xl sm:py-20 lg:flex lg:items-center lg:gap-x-10 lg:py-32"
    >
      <div class="mx-auto container max-w-2xl lg:mx-0 lg:flex-auto">
        <h1
          class="mt-10 max-w-lg text-4xl font-bold tracking-tight sm:text-6xl"
        >
          Web 3.0 Pull Payments Layer
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Fetcch is the first middleware layer that enables wallets and
          applications to send chain-agnostic transaction requests directly to
          the user's end-point.
        </p>
        <div class="mt-10 flex items-center">
          <button
            class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary flex items-center space-x-2"
          >
            <span> Schedule Demo</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
        <img
          src={hero.src}
          alt="hero image"
          class="mx-auto w-[52.875rem] max-w-full -mr-20"
        />
      </div>
    </div>
  </div>

  {/* Logo brands */}
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
      <img
        src={brand.src}
        alt="brand image"
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        width={158}
        height={48}
      />
      <img
        src={brand.src}
        alt="brand image"
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        width={158}
        height={48}
      />
      <img
        src={brand.src}
        alt="brand image"
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        width={158}
        height={48}
      />
      <img
        src={brand.src}
        alt="brand image"
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        width={158}
        height={48}
      />
      <img
        src={brand.src}
        alt="brand image"
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        width={158}
        height={48}
      />
    </div>
  </div>
</section>
